form {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 30px;
}

select {
  width: auto;
}

h1 {
  margin: 0;
  text-align: center;
}

.label {
  align-items: center;
  display: flex;
  gap: 10px;
  width: 100%;
}

.label-description {
  width: 20%;
}

.select {
  align-items: center;
  display: flex;
  gap: 10px;
}

.div-alinhar-verticalmente {
  align-items: center;
  display: flex;
  justify-content: center;
}


.btn {
  text-decoration: none;
}

.container-header-left {
  display: flex;
  gap: 5px;
}

.total-field {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
